* {
    font-family: popins;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.eclipse{
    float: right;
    height: 150%;
    background-color: #649549;
    
}
.nav1 > li{
    display: inline;
    padding: 10px;
}
.nav2 > li {
    display: inline;
    padding: 10px;
}
#order-btn {
    width: 8%;
    height: 7%;
    border-radius: 20%;
    background-color: #6CB840;
    color: white;
    text-align: center;
}
footer {
    background-color: #C9ECB5;
    display: flex;
}
.nav1 {
    list-style-type: none;
    text-decoration: none;
}
.contact {
    background-color: #FFD77C;
}
.main {
    display: flex;
    flex-direction: row;
}
.main > img {
    margin-left: 20px;
}
.header {
    display: flex;
    flex-direction: row;
}
.deals {
    background-color: #C9ECB5;
}
.street-food {
    width: 40%;
}