* {
    font-family: popins;
}

#order-btn {
    width: 8%;
    height: 7%;
    border-radius: 20%;
    background-color: #6CB840;
    color: white;
    text-align: center;
}
footer {
    background-color: #C9ECB5;
    display: flex;
}
.nav1 {
    list-style-type: none;
    text-decoration: none;
}
.contact {
    background-color: #FFD77C;
}