* {
    font: Poppins;
    line-height: 20pt;
    padding: 5px;
    margin: 13px 0;
}
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#header {
    Background-Color: rgb(209, 208, 208);
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0px 0px 50px;
}
#header nav{
    position: relative;
    z-index: 1;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;

    
}

li a{
    color: black;
    text-decoration: none;
    padding: 8px;
    float: right;
}

.eclipse {
    margin: 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    border-top: 3px dashed #ccc;
    border-right: 3px dashed #ccc;
    
}
.eclipse img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
    width: 100px;
    height: 100px;
    margin-left: 80%;
    z-index: 1;
}
  
.eclipse img:first-child {
    transform: rotate(0deg) translateY(-200px);
} 
  
.eclipse img:nth-child(2) {
    transform: rotate(45deg) translateY(-200px);
}
  
.eclipse img:nth-child(3) {
    transform: rotate(90deg) translateY(-200px);
}
  
.eclipse img:nth-child(4) {
    transform: rotate(-45deg) translateY(-200px);
}
  
.eclipse img:nth-child(5) {
    transform: rotate(-90deg) translateY(-200px);
}
.curved-picture {
    width: 1000px;
    height: 1000px;
    top: 0px;
    right: 0px;
    background-color: #6CB840;
    position:absolute;
    z-index: 0;
    transform: translate(60px, -50%);
    overflow: hidden;
    border-radius: 50%;
}
#steet-food {
    height: auto;
    width: 380px;
    margin-top: 70pt;
    margin-left: 20px;
    line-height: 20pt;
    font-size: large;
    font-family: popins;
}

.main {
    display: flex;
    flex-direction: row;
}
.main-2 {
    height: auto;
    width: 300px;
    margin-top: 70pt;
    line-height: 20pt;
}
.deals {
    text-align: center;
    background-color: #C9ECB5;
    padding: 25px 50px 25x 50px;
    height: 600px;
    margin-right: -150px;
}

.juice{
    float: left;
    position: relative;
    bottom: 530px;
    left: -10px;
}
.burger {
    float: left;
    position: relative;
    bottom: 250px;
    left: -390px;
}
.hot {
    text-align: center;
}
.contact {
    background-color: #FFD77C;
    text-align: center;
    box-sizing: border-box;  
}
.contact-us {
    width: 300px;
    margin-left: 40%;
}
.hot-deals {
    color: #6CB840;
}
.hot-deals-1 {
    color: #6CB840;
    font-weight: 700;
    font-size: xx-large;
}
.food {
    color:  #EAAB1B;
}
#steet-food {
    text-align: left;
}
.eclipse {
    float: right;
}
.menu > h1 {
    text-align: center;
}

.menu {
    background-color: rgb(209, 208, 208);
    padding: 8px 12px;
    margin: 50px,0px;
}
.menu-1 , .menu-2 {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    left: -300px;
    
}
.menu-1 {
    padding-right: 30pt;
    padding-left: 40pt;
    padding-top: 30pt;
    padding-bottom: 70pt;
}
.menu-2 {
    padding-bottom: 70pt;
}
.menu-1 > div , .menu-2 > div {
    height: 200px;
    width: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    background-color: white;
    margin-right: 80px;
    border-radius: 8px;
    
}

.menu img{
    float:left;
    position: relative;
    bottom: -65px;
    left: -70px;
}
#order-btn {
    border-radius: 50%;
    background-color: #6CB840;
    color: white;
    text-align: center;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    font-weight: 700;
    width: 10%;
    border-radius: 40px;
    margin-bottom: 20px;
    border: transparent;
}
#order-btn-1 {
    border-radius: 50%;
    background-color: #6CB840;
    color: white;
    text-align: center;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    font-weight: 700;
    width: 13%;
    border-radius: 40px;
    margin-bottom: 20px;
    border: transparent;
    margin-left: 20px;
}

input {
    width: 30%;
    padding: 15px 20px;
    border-radius: 30px;
    border: transparent;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #C9ECB5;
    padding-left: 2px;
    margin-top: 50px;
}
#footer {
    border-right: 2px dashed #6CB840;
    
}
#send-btn {
    border: transparent;
    width: 6%;
    height: 5%;
    text-align: center;
    background-color: #6CB840;
    margin-top: 5%;
    margin-right: 2%;
    padding: auto;
    color: white;
    font-weight: 700;
    font-size: large;
}