* {
    font-family: Poppins;
    line-height: 20pt;

}
nav {
    display: flex;
}
.eclipse {
    margin: 100px;
    width: 400px;
    height: 400px;
    /*   add border top and right */
    border-top: 3px dashed #ccc;
    border-right: 3px dashed #ccc;
    /*  make borders circular  */
    border-radius: 50%;
    position: absolute;
    right: 30%;
    
  }
  .eclipse img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
    width: 100px;
    height: 100px;
    margin-left: 70%;
  }
  
  .eclipse img:first-child {
    transform: rotate(0deg) translateY(-200px);
  }
  
  .eclipse img:nth-child(2) {
    transform: rotate(45deg) translateY(-200px);
  }
  
  .eclipse img:nth-child(3) {
    transform: rotate(90deg) translateY(-200px);
  }
  
  .eclipse img:nth-child(4) {
    transform: rotate(-45deg) translateY(-200px);
  }
  
  .eclipse img:nth-child(5) {
    transform: rotate(-90deg) translateY(-200px);
  }
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#steet-food {
    height: auto;
    width: 300px;
    margin-top: 70pt;
    margin-left: 20px;
    line-height: 20pt;
    font-size: large;
    font-family: popins;
}
#header {
    Background-Color: rgb(209, 208, 208);
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 50px 0px;
}

.main {
    display: flex;
    flex-direction: row;
}
.main-2 {
    height: auto;
    width: 300px;
    margin-top: 70pt;
    line-height: 20pt;
}
.deals {
    display: flex;
    flex-direction: row;
}
.hot {
    text-align: center;
}
.contact {
    background-color: #FFD77C;
    text-align: center;
    box-sizing: border-box;    
}
.contact-us {
    width: 300px;
    margin-left: 40%;
    margin-top: 20px;
    line-height: 20pt;
}
.hot-deals {
    color: #6CB840;
}
.food {
    color:  #EAAB1B;
}
#steet-food {
    text-align: left;
}
.eclipse {
    float: right;
}
.menu > h1 {
    text-align: center;
}
.menu {
    background-color: rgb(209, 208, 208);
    padding: 8px 12px;
    margin: 50px,0px;
    align-items: center;
}
.menu-1 , .menu-2 {
    display: flex;
    justify-content: space-evenly;
    padding-right: 30pt;
    padding-left: 40pt;
    padding-top: 80pt;
    padding-bottom: 100pt;
}
.menu-1 > div , .menu-2 > div {
    height: 200px;
    width: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: inherit;
    background-color: white;
    margin-right: 15px;
    border-radius: 8px 8px 6px 0;
}
.menu-1 > div > img , .menu-2 > div > img {
    float:left;
    position: relative;
    bottom: -100px;
    left: -60px;
}
#order-btn {
    border-radius: 50%;
    background-color: #6CB840;
    color: white;
    text-align: center;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    font-weight: 700;
    width: 10%;
    border-radius: 40px;
    margin-bottom: 20px;
    border: transparent;
}
#order-btn-1 {
    border-radius: 50%;
    background-color: #6CB840;
    color: white;
    text-align: center;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    font-weight: 700;
    width: 13%;
    border-radius: 40px;
    margin-bottom: 20px;
    border: transparent;
    margin-left: 20px;
}

input {
    width: 30%;
    padding: 15px 20px;
    border-radius: 30px;
    border: transparent;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #C9ECB5;
    padding-left: 2px;
}
#send-btn {
    border: transparent;
    width: 10%;
    height: 5%;
    text-align: center;
    background-color: #6CB840;
    margin-top: 5%;
    margin-right: 2%;
    padding: auto;
    color: white;
    font-weight: 700;
}